
<h2 class="ui grey header">
  <img class="ui image" src="../assets/images/Movie.jpg">
  <div class="content">
    Do you know movies ?
  </div>
</h2>
<form class="ui form">
<div class="field">
<input type="text" name="movie-name" placeholder="Enter Movie Name" #movieName>
</div>
<button class="ui button primary" (click)="getMovieDetails(movieName.value)" type="submit">Submit</button>
</form>

<div *ngIf="movieData" class="ui button primary" class="ui raised segment">
  <h3 *ngIf="movieData">Movie : {{movieData.title}}</h3>
  <img *ngIf="movieData" src= {{movieData.Poster}} [style.height.px] = 'imageHeight'>
</div>