/* You can add global styles to this file, and also import other style files */
body{
    margin:2% 30%;
    padding: 2%;
    background-image: linear-gradient(to right, rgb(210, 219, 130) , rgb(134, 204, 198));
  
}
#display{
    border: 3px solid blue;
    border-radius:20px ;
margin:1%;
padding: 10px;
}